<!DOCTYPE html>
<html>
  <head>
    <meta charest="utf-8">
    <title>Home Page</title>
  </head>
    <body>
      {{> header}}

      <p>{{screamIt welcomeMessage}}</p>

      {{> footer}}
    </body>
</html>
