<!DOCTYPE html>
<html>
  <head>
    <meta charest="utf-8">
    <title>Projects</title>
  </head>
    <body>
      {{> header}}
      <p>Portfolio Page Here</p>

      {{> footer}}
    </body>
</html>
